.DS_Store
*.bin
*.o
/build
/dist
*.pyc
/models
/app/build
/app/dist
/app/document
/app/models
/.idea
/models
*.log
app/gpt4people_debug.log
app/messages.db
/llama.cpp-master/build
*.db
*.sqlite3
*.db
*.db
*.db
channels/matrix/session.txt
channels/matrix/session.txt
channels/matrix/session.txt
ui/session.txt
channels/wechat/logs/wcf.txt
ui/session.txt
core/latestPromptRequest.json
config/gpt4people_account.yml
config/gpt4people_account.yml
config/gpt4people_account.yml
ui/latestPromptRequest.json
