.DS_Store
*.bin
*.o
/build
/logs
/dist
*.pyc
/.idea
*.log
/llama.cpp-master/build
*.db
*.sqlite3
config/gpt4people_account.yml
channels/matrix/session.txt
channels/wechat/logs/wcf.txt
ui/session.txt
ui/logs
core/latestPromptRequest.json
ui/latestPromptRequest.json

/models
