.DS_Store
*.bin
*.o
/build
/logs
/dist
*.pyc
/.idea
*.log
/models
/llama.cpp-master/build
*.db
*.sqlite3
*.db
*.db
*.db
channels/matrix/session.txt
channels/matrix/session.txt
channels/matrix/session.txt
channels/whatsapp
ui/session.txt
channels/wechat/logs/wcf.txt
ui/session.txt
ui/logs
core/latestPromptRequest.json
ui/latestPromptRequest.json
config/gpt4people_account.yml