loguru
PyYAML
python-dotenv
tqdm
transformers
chromadb
numpy
fastapi
openai
watchdog
alembic
schedule
pytz

# For Channels
# Wechat
wcferry==39.2.3.0
# whatsapp
neonize==0.3.10
# Matrix it'scol
#simplematrixbotlib==2.12.3




#litellm
#llama-cpp-python==0.2.78
#llama_cpp_python==0.2.78
#torch==2.3.0
#torchaudio==2.3.0
#torchvision==0.18.0
#tqdm==4.66.4
#transformers==4.41.1
#gradio==4.44.0
#pytest==8.2.0
#pytest-asyncio==0.24.0
#alembic==1.13.1
#loguru==0.7.3
#PyYAML==6.0.2
#python-dotenv==1.0.1
#schedule==1.2.2
#simplematrixbotlib==2.12.3
#neonize==0.3.10